@for (toast of toastService.toast(); track toast) {
  <ngb-toast
    (hidden)="toastService.remove(toast)"
    [autohide]="true"
    [class]="{
      'Toast-danger': toast.severity === 'error',
      'Toast-default': toast.severity === 'default',
      'Toast-success': toast.severity === 'success'
    }"
    [delay]="toast.delay || 5000"
    class="Toast"
  >
    <div class="Toast-message">
      @if (toast.severity === 'error') {
        <i class="bi bi-exclamation-triangle-fill"></i>
      }

      @if (toast.severity === 'default') {
        <i class="bi bi-info-circle-fill"></i>
      }

      @if (toast.severity === 'success') {
        <i class="bi bi-check-circle-fill"></i>
      }

      {{ toast.message }}
    </div>
  </ngb-toast>
}
