:host {
  margin: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1200;
}

.Toast {
  border-radius: 0.5rem;
  padding: 0.3rem;

  &.Toast-danger {
    background-color: var(--kauf-red-100);
    border: 1px solid var(--kauf-red-300);
    color: var(--kauf-red-500);
  }

  &.Toast-default {
    background-color: var(--kauf-gray-100);
    border: 1px solid var(--kauf-gray-300);
    color: var(--kauf-gray-700);
  }

  &.Toast-success {
    background-color: var(--kauf-green-100);
    border: 1px solid var(--kauf-green-300);
    color: var(--kauf-green-500);
  }

  .Toast-message {
    align-items: center;
    display: flex;
    gap: 0.8rem;
  }
}
