<div class="sms-send-individual">
  <form [formGroup]="form" class="sms-send-individual__form">
    <div class="form-group">
      <label for="phone" class="form-label">Teléfono</label>

      <input
        (input)="handleCleanError()"
        [class.is-invalid]="getErrorMessage('phone')"
        class="form-control"
        formControlName="phone"
        id="phone"
        name="phone"
        placeholder="Ingrese su teléfono"
      />

      <div class="invalid-feedback">
        {{ getErrorMessage('phone') }}
      </div>
    </div>

    <div class="form-group">
      <label for="message" class="form-label">Mensaje</label>

      <textarea
        (input)="handleCleanError()"
        [class.is-invalid]="getErrorMessage('message')"
        class="form-control"
        formControlName="message"
        id="message"
        name="message"
        placeholder="Ingrese su mensaje"
        rows="5"
      ></textarea>

      <div class="invalid-feedback">
        {{ getErrorMessage('message') }}
      </div>
    </div>

    @if (error()) {
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <ng-icon class="flex-shrink-0 me-2" name="errorIcon" />
        En estos momentos tenemos problemas para disponibilizar la información. Por favor, consulta en unos minutos más.
      </div>
    }
  </form>

  <div class="sms-send-individual__actions">
    <button (click)="handleSend()" [disabled]="loading()" class="btn btn-primary">
      @if (loading()) {
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      } @else {
        <ng-icon name="sendIcon" />
      }

      Enviar SMS
    </button>

    <button (click)="handleClearForm()" [disabled]="loading()" class="btn btn-secondary">
      <ng-icon name="cancelIcon" />
      Limpiar formulario
    </button>
  </div>
</div>
