@use 'shared/styles/globals' as *;

.Header {
  align-items: center;
  background-color: var(--kauf-white);
  border-bottom: 1px solid var(--kauf-border-color);
  display: flex;
  justify-content: space-between;
  min-height: 4rem;
  padding: 0 1rem;

  .Header-brand {
    align-items: center;
    color: currentColor;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 0.8rem;
    letter-spacing: -0.1rem;
    text-decoration: none;
    text-transform: uppercase;

    .Header-brand-logo {
      height: 2.5rem;
      width: auto;
    }

    @include media-breakpoint-down(sm) {
      .Header-brand-name {
        display: none;
      }
    }
  }

  .Header-profile {
    .Header-dropdown-toggle {
      align-items: center;
      display: flex;
      font-size: 0.9rem;
      font-weight: 600;
      gap: 0.8rem;
      text-transform: uppercase;

      i {
        font-size: 1.4rem;
      }

      &::after {
        display: none;
      }
    }

    .Header-dropdown-menu {
      min-width: 12rem;
      padding: 1rem;

      .Header-dropdown-content {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .Header-dropdown-logout {
          align-items: center;
          border-radius: 2rem;
          display: flex;
          font-size: 0.8rem;
          font-weight: 600;
          gap: 0.8rem;
          justify-content: center;
          min-height: 2.5rem;

          i {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
