<header class="Header">
  <a routerLink="/" class="Header-brand">
    <img alt="Kaufmann" class="Header-brand-logo" src="images/logo.png" />
    <span class="Header-brand-name">Mensajería Kaufmann</span>
  </a>

  <nav class="Header-profile" ngbDropdown placement="bottom-end">
    <div
      aria-expanded="false"
      class="Header-dropdown-toggle"
      id="dropdownProfile"
      ngbDropdownToggle
      role="button"
      tabindex="0"
    >
      <span class="Header-profile-name">
        {{ profileName }}
      </span>

      <i class="bi bi-person-circle"></i>
    </div>

    <div aria-labelledby="dropdownProfile" class="Header-dropdown-menu" ngbDropdownMenu role="menu" tabindex="0">
      <div class="Header-dropdown-content">
        <button (click)="handleLogout()" class="btn btn-primary Header-dropdown-logout">
          <i class="bi bi-box-arrow-right"></i>
          Cerrar sesión
        </button>
      </div>
    </div>
  </nav>
</header>
