<div class="Not-found">
  <div class="Not-found-wave"></div>

  <div class="Not-found-content">
    <div class="Not-found-brand">
      <a routerLink="/" class="Not-found-brand-link">
        <img alt="Kaufmann" class="Not-found-brand-logo" src="images/logo.png" />
      </a>
    </div>

    <h1 class="Not-found-title">404</h1>
    <p class="Not-found-description">No encontramos lo que buscabas.</p>

    <div class="Not-found-go-home">
      <a class="btn btn-primary Not-found-go-home-link" routerLink="/">
        <i class="bi bi-house-fill"></i>
        Volver al inicio</a
      >
    </div>
  </div>
</div>
