<div class="push-send-massive">
  <form [formGroup]="form" class="push-send-massive__form">
    <div class="form-group">
      <label for="app" class="form-label">Aplicación</label>

      <select [class.is-invalid]="getErrorMessage('app')" formControlName="app" id="app" name="app" class="form-select">
        <option hidden selected value="">Seleccione una aplicación</option>

        @for (application of applications(); track $index) {
          <option [value]="application.appId">{{ application.name }}</option>
        }
      </select>

      <div class="invalid-feedback">{{ getErrorMessage('app') }}</div>
    </div>

    <div class="form-group">
      <label for="file" class="form-label">Archivo</label>

      <input
        (change)="handleFileChange($event)"
        [class.is-invalid]="getErrorMessage('file')"
        accept=".csv,.xlsx,.xls"
        class="form-control"
        formControlName="file"
        id="file"
        name="file"
        placeholder="Ingrese su archivo"
        type="file"
      />

      <div class="invalid-feedback">{{ getErrorMessage('file') }}</div>
    </div>
  </form>

  <div class="push-send-massive__actions">
    <button (click)="handleSend()" [disabled]="loading()" class="btn btn-primary">
      @if (loading() && applications().length) {
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      } @else {
        <ng-icon name="sendIcon" />
      }

      Enviar Push
    </button>

    <button (click)="handleClearForm()" [disabled]="loading()" class="btn btn-secondary">
      <ng-icon name="cancelIcon" />
      Limpiar formulario
    </button>
  </div>
</div>
