@use 'shared/styles/functions' as *;
@use 'shared/styles/theme' as *;

.sms-send {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: $base-container-spacing;

  .sms-send__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    margin: 0;
  }

  .sms-send__description {
    font-size: 0.8rem;
    margin: 0;
  }

  .sms-send__content {
    background-color: $white;
    border-radius: 0.5rem;
    border: 0.0625rem solid $border;
    box-shadow: $base-shadow;
    margin-top: 1rem;
    padding: 1.5rem;

    .sms-send__tabs {
      gap: 0.125rem;
      padding-bottom: 0.0625rem;

      .sms-send__tab {
        background-color: get-color(gray, 100);
        border: 0.0625rem solid $border;
        color: $text-dark;
        min-height: 3rem;
        min-width: 10rem;
        border-bottom: none;

        &.active {
          background-color: $primary-main;
          border-color: $primary-main;
          color: $white;
          font-weight: 500;
        }

        &:hover:not(.active) {
          background-color: get-color(gray, 200);
        }
      }
    }

    .sms-send__outlet {
      border-bottom: 0.0625rem solid $border;
      border-left: 0.0625rem solid $border;
      border-radius: 0 0 0.375rem 0.375rem;
      border-right: 0.0625rem solid $border;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 24rem;
      padding: 2rem;
    }
  }

  @media (max-width: $base-breakpoint-md) {
    padding: 1rem;
  }
}
