.Layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .Layout-content {
    display: flex;
    flex-grow: 1;
  }

  .Layout-main {
    background-color: var(--kauf-gray-100);
    flex-grow: 1;
    padding: 1rem;
  }
}
