@let error = error$();
@let loading = loading$();

<div class="Login">
  <div class="Login-wave"></div>

  <div class="Login-content">
    <div class="Login-brand">
      <img alt="Kaufmann" class="Login-brand-logo" src="images/logo.png" />
    </div>

    <form (submit)="handleSubmit()" [formGroup]="formGroup" class="Login-form">
      <h1 class="Login-title">Inicio de sesión</h1>
      <p class="Login-description">Ingresa tus credenciales para acceder a tu cuenta.</p>

      <div class="row Login-form-row">
        <div class="col-12 Login-email">
          <label for="email" class="Login-form-label">Correo electrónico</label>

          <input
            (input)="clearFormErrors()"
            [class]="{ 'is-invalid': error || getErrors('email')['email'] || getErrors('email')['required'] }"
            [disabled]="!loading"
            class="form-control"
            formControlName="email"
            id="email"
            placeholder="Correo electrónico"
            required
            type="email"
          />

          @if (getErrors('email')['required']) {
            <div class="Login-form-error">El correo es requerido.</div>
          }

          @if (getErrors('email')['email']) {
            <div class="Login-form-error">El formato del correo no es válido.</div>
          }
        </div>

        <div class="col-12 Login-password">
          <label for="password" class="Login-form-label">Contraseña</label>

          <div class="Login-password-group">
            <input
              (input)="clearFormErrors()"
              [class]="{
                'is-invalid': error || getErrors('password')['minlength'] || getErrors('password')['required']
              }"
              [disabled]="!loading"
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              formControlName="password"
              id="password"
              placeholder="Contraseña"
              required
            />

            <i
              (click)="handleTogglePasswordVisibility()"
              (keydown.enter)="handleTogglePasswordVisibility()"
              [class]="{
                'bi-eye': !showPassword,
                'bi-eye-slash': showPassword,
                'is-invalid': error || getErrors('password')['minlength'] || getErrors('password')['required']
              }"
              class="bi"
              role="button"
              tabindex="0"
            ></i>
          </div>

          @if (getErrors('password')['required']) {
            <div class="Login-form-error">La contraseña es requerida.</div>
          }

          @if (getErrors('password')['minlength']) {
            <div class="Login-form-error">La contraseña debe tener al menos 6 caracteres.</div>
          }
        </div>
      </div>

      @if (error?.reason === 'UNAUTHORIZED_ERROR') {
        <div class="Login-form-error">Contraseña o correo incorrecto</div>
      }

      <button [disabled]="isFormInvalid()" class="btn btn-primary Login-submit">
        @if (loading) {
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        } @else {
          <i class="bi bi-box-arrow-in-right"></i>
          Ingresar
        }
      </button>
    </form>
  </div>
</div>
