<div class="push-send">
  <h1 class="push-send__title">Envíos Push</h1>

  <p class="push-send__description">
    Envía mensajes Push de forma individual o masiva a tus clientes. Gestiona tus comunicaciones de manera eficiente y
    mantén informados a tus destinatarios.
  </p>

  <div class="push-send__content">
    <ul #nav="ngbNav" (navChange)="handleChangeTab()" [(activeId)]="activeTab" class="nav-tabs push-send__tabs" ngbNav>
      <li [disabled]="loading()" [ngbNavItem]="'individual'">
        <button ngbNavLink class="push-send__tab">Individual</button>

        <ng-template ngbNavContent>
          <app-push-send-individual-container />
        </ng-template>
      </li>

      <li [disabled]="loading()" [ngbNavItem]="'masivo'">
        <button ngbNavLink class="push-send__tab">Masivo</button>

        <ng-template ngbNavContent>
          <app-push-send-massive-container />
        </ng-template>
      </li>
    </ul>

    <div class="push-send__outlet">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
