<div class="push-send-individual">
  <form [formGroup]="form" class="push-send-individual__form">
    <div class="form-group">
      <label for="app" class="form-label">Aplicación</label>

      <select [class.is-invalid]="getErrorMessage('app')" formControlName="app" id="app" name="app" class="form-select">
        <option hidden selected value="">Seleccione una aplicación</option>

        @for (application of applications(); track $index) {
          <option [value]="application.appId">{{ application.name }}</option>
        }
      </select>

      <div class="invalid-feedback">{{ getErrorMessage('app') }}</div>
    </div>

    <div class="form-group">
      <label for="dni" class="form-label">Rut usuario</label>

      <input
        [class.is-invalid]="getErrorMessage('dni')"
        class="form-control"
        formControlName="dni"
        id="dni"
        name="dni"
        placeholder="Ingrese el rut de usuario"
      />

      <div class="invalid-feedback">{{ getErrorMessage('dni') }}</div>
    </div>

    <div class="form-group">
      <label for="message" class="form-label">Mensaje</label>

      <textarea
        [class.is-invalid]="getErrorMessage('message')"
        class="form-control"
        formControlName="message"
        id="message"
        rows="5"
        name="message"
        placeholder="Ingrese su mensaje"
      ></textarea>

      <div class="invalid-feedback">{{ getErrorMessage('message') }}</div>
    </div>
  </form>

  <div class="push-send-individual__actions">
    <button (click)="handleSend()" class="btn btn-primary">
      <ng-icon name="sendIcon" />
      Enviar Push
    </button>

    <button (click)="handleClearForm()" class="btn btn-secondary">
      <ng-icon name="cancelIcon" />
      Limpiar formulario
    </button>
  </div>
</div>
