<div class="push-send-individual">
  <form [formGroup]="form" class="push-send-individual__form">
    <div class="form-group">
      <label for="app" class="form-label">Aplicación</label>

      <select
        (input)="handleCleanError()"
        [class.is-invalid]="getErrorMessage('app')"
        class="form-select"
        formControlName="app"
        id="app"
        name="app"
      >
        <option hidden selected value="">Seleccione una aplicación</option>

        @for (application of applications(); track $index) {
          <option [value]="application.appId">
            {{ application.name }}
          </option>
        }
      </select>

      <div class="invalid-feedback">
        {{ getErrorMessage('app') }}
      </div>
    </div>

    <div class="form-group">
      <label for="dni" class="form-label">Rut usuario</label>

      <input
        (input)="handleCleanError()"
        [class.is-invalid]="getErrorMessage('dni')"
        class="form-control"
        formControlName="dni"
        id="dni"
        name="dni"
        placeholder="Ingrese el rut de usuario"
      />

      <div class="invalid-feedback">
        {{ getErrorMessage('dni') }}
      </div>
    </div>

    <div class="form-group">
      <label for="message" class="form-label">Mensaje</label>

      <textarea
        (input)="handleCleanError()"
        [class.is-invalid]="getErrorMessage('message')"
        class="form-control"
        formControlName="message"
        id="message"
        name="message"
        placeholder="Ingrese su mensaje"
        rows="5"
      ></textarea>

      <div class="invalid-feedback">
        {{ getErrorMessage('message') }}
      </div>
    </div>

    @if (error()) {
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <ng-icon class="flex-shrink-0 me-2" name="errorIcon" />
        En estos momentos tenemos problemas para disponibilizar la información. Por favor, consulta en unos minutos más.
      </div>
    }
  </form>

  <div class="push-send-individual__actions">
    <button (click)="handleSend()" [disabled]="loading()" class="btn btn-primary">
      @if (loading() && applications().length) {
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      } @else {
        <ng-icon name="sendIcon" />
      }

      Enviar Push
    </button>

    <button (click)="handleClearForm()" [disabled]="loading()" class="btn btn-secondary">
      <ng-icon name="cancelIcon" />
      Limpiar formulario
    </button>
  </div>
</div>
