@use 'shared/styles/theme' as *;

.topbar {
  align-items: center;
  background-color: $white;
  box-shadow: $base-shadow;
  display: flex;
  gap: 1rem;
  min-height: $base-topbar-height;
  padding: 0 $base-container-spacing;
  position: relative;

  .topbar__logo-link {
    align-items: center;
    color: currentColor;
    display: flex;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 0.8rem;
    letter-spacing: -0.1rem;
    text-decoration: none;
    text-transform: uppercase;

    .topbar__logo {
      height: 2.5rem;
      width: auto;
    }

    .topbar__logo-name {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  .topbar__menu--toggle {
    cursor: pointer;
    display: flex;
  }

  .topbar__profile {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    font-weight: 600;
    gap: 0.5rem;
    height: calc($base-topbar-height - 1rem);
    margin-left: auto;

    .topbar__dropdown {
      background-color: $white;
      border-radius: 0.5rem;
      box-shadow: $base-shadow;
      display: none;
      min-width: 12rem;
      overflow: hidden;
      position: absolute;
      right: 2rem;
      top: 85%;
      z-index: 10;

      .topbar__dropdown-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style: none;
        margin: 0;
        padding: 0;

        .topbar__dropdown-item {
          padding: 1rem;
        }
      }

      &.topbar__dropdown--show {
        display: block;
      }
    }
  }
}
