<aside [class]="{ 'Navigation-collapsed': isCollapsed, Navigation: true }">
  <nav class="Navigation-menu">
    <ul class="Navigation-menu-list">
      @for (item of menuItems; track $index) {
        <li class="Navigation-menu-item">
          <a
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="item.path"
            class="Navigation-menu-link"
            routerLinkActive="is-active"
          >
            <i [class]="item.icon" class="bi"></i>

            @if (!isCollapsed) {
              <span>{{ item.label }}</span>
            }
          </a>
        </li>
      }
    </ul>
  </nav>

  <div
    (click)="handleToggleMenu()"
    (keydown.enter)="handleToggleMenu()"
    [attr.aria-expanded]="!isCollapsed"
    class="Navigation-collapse"
    role="button"
    tabindex="0"
  >
    <i [class]="isCollapsed ? 'bi bi-arrow-bar-right' : 'bi bi-arrow-bar-left'"></i>

    @if (!isCollapsed) {
      <span>Colapsar menú</span>
    }
  </div>
</aside>
