.Navigation {
  background-color: var(--kauf-dark-surface);
  border-right: 1px solid var(--kauf-border-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15.625rem;

  .Navigation-menu {
    flex-grow: 1;
    height: calc(100vh - 8rem);
    overflow-y: hidden;
    padding: 1rem 0;
    transition: all 0.3s ease-in-out;

    .Navigation-menu-list {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      list-style: none;
      margin: 0;
      padding: 0 1rem;

      .Navigation-menu-item {
        display: flex;
        min-height: 2.5rem;

        .Navigation-menu-link {
          align-items: center;
          border-radius: 0.25rem;
          color: var(--kauf-muted);
          display: flex;
          font-size: 0.8rem;
          font-weight: 600;
          gap: 0.8rem;
          text-decoration: none;
          transition: color 0.2s ease;
          width: 100%;

          i {
            font-size: 1rem;
          }

          &:hover,
          &.is-active {
            color: var(--kauf-light-gray-blue);
            box-shadow:
              -0.6rem 0 0 0 var(--kauf-dark-muted),
              0.6rem 0 0 0 var(--kauf-dark-muted);
            background-color: var(--kauf-dark-muted);
          }
        }
      }
    }

    &:hover {
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      width: 0.4rem;
    }
  }

  .Navigation-collapse {
    align-items: center;
    border-top: 1px solid var(--kauf-dark-muted);
    color: var(--kauf-muted);
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    gap: 0.8rem;
    height: 4rem;
    padding: 0 1rem;

    i {
      font-size: 1rem;
    }

    &:hover {
      color: var(--kauf-light-gray-blue);
    }
  }
}

.Navigation.Navigation-collapsed {
  width: 4rem;

  .Navigation-menu-link,
  .Navigation-collapse {
    justify-content: center;
  }
}
