@let error = error$();
@let loading = loading$();

<div class="Push-send">
  <h1 class="Push-send-title">Envíos Push</h1>

  <p class="Push-send-description">
    Envía mensajes Push de forma individual o masiva a tus clientes. Gestiona tus comunicaciones de manera eficiente y
    mantén informados a tus destinatarios.
  </p>

  <div class="Push-send-content">
    <ul #nav="ngbNav" (navChange)="handleTabChange()" [(activeId)]="activeTab" class="nav-tabs Push-send-tabs" ngbNav>
      <li [ngbNavItem]="1">
        <button [disabled]="loading" class="Push-send-tab" ngbNavLink>Individual</button>

        <ng-template ngbNavContent>
          <form [formGroup]="individualFormGroup" class="Push-send-form">
            <div class="Push-send-form-row">
              <div class="Push-send-application">
                <label class="Push-send-label" for="application">Aplicación</label>

                <select
                  (input)="clearFormErrors()"
                  [class]="{
                    'is-invalid':
                      error ||
                      (individualFormGroup.controls['application'].invalid &&
                        individualFormGroup.controls['application'].touched)
                  }"
                  [disabled]="!loading"
                  class="form-control"
                  formControlName="application"
                  id="application"
                  placeholder="Seleccione una aplicación"
                  required
                  type="text"
                >
                  <option value="">Seleccione una aplicación</option>
                  <option value="example-1">Ejemplo 1</option>
                  <option value="example-2">Ejemplo 2</option>
                  <option value="example-3">Ejemplo 3</option>
                </select>

                @if (individualFormGroup.controls['application'].touched) {
                  @if (getErrors('application')['required']) {
                    <div class="Push-send-form-error">La aplicación es requerida.</div>
                  }
                }
              </div>

              <div class="Push-send-dni">
                <label class="Push-send-label" for="dni">Rut usuario</label>

                <input
                  (input)="clearFormErrors()"
                  [class]="{
                    'is-invalid':
                      error ||
                      (individualFormGroup.controls['dni'].invalid && individualFormGroup.controls['dni'].touched)
                  }"
                  [disabled]="!loading"
                  class="form-control"
                  formControlName="dni"
                  id="dni"
                  placeholder="Rut usuario"
                  required
                  type="text"
                />

                @if (individualFormGroup.controls['dni'].touched) {
                  @if (getErrors('dni')['required']) {
                    <div class="Push-send-form-error">El rut usuario es requerido.</div>
                  }
                }
              </div>

              <div class="Push-send-message">
                <label class="Push-send-label" for="message">Mensaje</label>

                <textarea
                  (input)="clearFormErrors()"
                  [class]="{
                    'is-invalid':
                      error ||
                      (individualFormGroup.controls['message'].invalid &&
                        individualFormGroup.controls['message'].touched)
                  }"
                  [disabled]="!loading"
                  class="form-control"
                  formControlName="message"
                  id="message"
                  placeholder="Mensaje"
                  required
                  rows="3"
                  type="text"
                ></textarea>

                @if (individualFormGroup.controls['message'].touched) {
                  @if (getErrors('message')['required']) {
                    <div class="Push-send-form-error">El mensaje es requerido.</div>
                  }
                }
              </div>
            </div>
          </form>
        </ng-template>
      </li>

      <li [ngbNavItem]="2">
        <button [disabled]="loading" class="Push-send-tab" ngbNavLink>Masivo</button>

        <ng-template ngbNavContent>
          <form [formGroup]="massiveFormGroup" class="Push-send-form">
            <div class="Push-send-form-row">
              <div class="Push-send-application">
                <label class="Push-send-label" for="application">Aplicación</label>

                <select
                  (input)="clearFormErrors()"
                  [class]="{
                    'is-invalid':
                      error ||
                      (massiveFormGroup.controls['application'].invalid &&
                        massiveFormGroup.controls['application'].touched)
                  }"
                  [disabled]="!loading"
                  class="form-control"
                  formControlName="application"
                  id="application"
                  placeholder="Seleccione una aplicación"
                  required
                  type="text"
                >
                  <option value="">Seleccione una aplicación</option>
                  <option value="example-1">Ejemplo 1</option>
                  <option value="example-2">Ejemplo 2</option>
                  <option value="example-3">Ejemplo 3</option>
                </select>

                @if (massiveFormGroup.controls['application'].touched) {
                  @if (getErrors('application')['required']) {
                    <div class="Push-send-form-error">La aplicación es requerida.</div>
                  }
                }
              </div>

              <div class="Push-send-file">
                <label class="Push-send-label" for="file">Archivo</label>

                <input
                  (input)="clearFormErrors()"
                  [class]="{
                    'is-invalid':
                      error || (massiveFormGroup.controls['file'].invalid && massiveFormGroup.controls['file'].touched)
                  }"
                  [disabled]="!loading"
                  accept=".csv,.xlsx,.xls"
                  class="form-control"
                  (change)="onFileChange($event)"
                  formControlName="file"
                  id="file"
                  type="file"
                />

                @if (massiveFormGroup.controls['file'].touched) {
                  @if (getErrors('file')['required']) {
                    <div class="Push-send-form-error">El archivo es requerido</div>
                  }

                  @if (getFileErrors()) {
                    <div class="Push-send-form-error">{{ getFileErrors() }}</div>
                  }
                }
              </div>
            </div>
          </form>
        </ng-template>
      </li>
    </ul>

    <div class="Push-send-outlet">
      <div [ngbNavOutlet]="nav"></div>

      @if (error && error?.reason === 'SOMETHING_WENT_WRONG_ERROR') {
        <ngb-alert [dismissible]="false" class="Push-send-network-error" type="danger">
          <i class="bi bi-exclamation-triangle-fill"></i>

          <div class="Push-send-network-error-content">
            <strong>Lo sentimos, estamos presentando problemas con nuestro servidor.</strong>

            <span>
              En estos momentos tenemos problemas para disponibilizar la información. Por favor, consulta en unos
              minutos más.
            </span>
          </div>
        </ngb-alert>
      }

      <div class="Push-send-actions">
        <button (click)="handlePushSend()" [disabled]="isFormInvalid()" class="btn btn-primary Push-send-action">
          @if (loading) {
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          } @else {
            <i class="bi bi-send"></i>
            <span>Envía Push</span>
          }
        </button>

        <button (click)="handleClearForm()" [disabled]="isFormInvalid()" class="btn btn-light Push-send-action">
          <i class="bi bi-x-circle"></i>
          <span>Limpiar formulario</span>
        </button>
      </div>
    </div>
  </div>
</div>
