@use 'shared/styles/globals' as *;

.Push-send {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  .Push-send-title {
    color: var(--kauf-dark-surface);
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.1rem;
    margin: 0;
  }

  .Push-send-description {
    color: var(--kauf-gray-700);
    font-size: 0.8rem;
    margin: 0;
  }

  .Push-send-content {
    background-color: var(--kauf-white);
    border-radius: 0.5rem;
    border: 1px solid var(--kauf-border-color);
    box-shadow: rgba(0, 0, 0, 0.03) 0 0.5rem 1.5rem;
    margin-top: 1rem;
    padding: 1.5rem;

    .Push-send-tabs {
      .Push-send-tab {
        background-color: var(--kauf-gray-100);
        color: var(--kauf-gray-700);
        min-height: 3rem;
        min-width: 10rem;

        &.active {
          background-color: var(--kauf-green-300);
          color: var(--kauf-white);
          font-weight: 500;
        }

        &:hover:not(.active) {
          background-color: var(--kauf-gray-200);
          color: var(--kauf-gray-800);
        }
      }
    }

    .Push-send-outlet {
      border-bottom: 1px solid var(--kauf-border-color);
      border-left: 1px solid var(--kauf-border-color);
      border-radius: 0 0 0.375rem 0.375rem;
      border-right: 1px solid var(--kauf-border-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 24rem;
      padding: 2rem;

      .Push-send-form {
        .Push-send-form-row {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .Push-send-application,
          .Push-send-dni,
          .Push-send-message,
          .Push-send-file {
            .Push-send-label {
              color: var(--kauf-gray);
              font-size: 0.7rem;
              font-weight: 600;
              margin-bottom: 0.4rem;
              text-transform: uppercase;
            }

            input,
            textarea,
            select {
              border-radius: 0.5rem;
              font-size: 0.875rem;
              max-width: 100%;
              min-height: 3rem;
              padding: 0.5rem 1rem;

              &:focus {
                box-shadow: none;
              }

              @include media-breakpoint-up(lg) {
                max-width: 40rem;
              }

              &::file-selector-button {
                background-color: var(--kauf-primary);
                color: var(--kauf-white);
                border: none;
                padding: 0.625rem 1.25rem;
                border-radius: 0.5rem;
                font-size: 0.875rem;
                font-weight: 500;
                cursor: pointer;
                margin-right: 1rem;
                transition: all 0.3s ease;
              }
            }
          }
        }

        .Push-send-form-error {
          color: var(--kauf-danger);
          font-size: 0.7rem;
          font-weight: 500;
          margin-top: 0.4rem;
        }
      }

      .Push-send-network-error {
        display: flex;
        font-size: 0.8rem;
        gap: 0.8rem;
        margin: 1rem 0 0;

        .Push-send-network-error-content {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
        }
      }

      .Push-send-actions {
        align-items: center;
        display: flex;
        gap: 1rem;
        padding-top: 4rem;

        .Push-send-action {
          align-items: center;
          border-radius: 0.5rem;
          display: flex;
          font-size: 0.8rem;
          gap: 0.8rem;
          justify-content: center;
          min-height: 2.5rem;
          min-width: 10.625rem;

          i {
            font-size: 1rem;
          }

          &.btn-light:hover {
            background-color: var(--kauf-gray-200);
            border-color: var(--kauf-gray-300);
            color: var(--kauf-gray-800);
          }
        }
      }
    }
  }
}
