$colors: (
  black: #000000,
  danger: #ec1800,
  dark-2: #141824,
  dark-blue: #2a2e3b,
  dark: #091227,
  gray: #6e7891,
  info: #07a3e6,
  light-gray-blue: #eff2f6,
  light: #bae4f7,
  muted: #9fa6bc,
  primary: #002463,
  secondary: #196596,
  success: #009856,
  warning: #dec800,
  white: #fff
);

$grays: (
  100: #f7f7f7,
  200: #f0f0f0,
  300: #e0e0e0,
  400: #d1d1d1,
  500: #b5b5b5,
  600: #9e9e9e,
  700: #7a7a7a,
  800: #555555,
  900: #333333,
  1000: #1a1a1a
);
