$colors: (
  blue: (
    100: #e6ebf2,
    200: #b3c2d6,
    300: #8099b9,
    400: #4d709d,
    500: #002d74,
    600: #002460,
    700: #001c4c,
    800: #001438,
    900: #000b24
  ),
  brand: (
    main: #1a223d
  ),
  common: (
    black: #000000,
    white: #ffffff
  ),
  cyan: (
    100: #e6f2f7,
    200: #b3d6e4,
    300: #80bad2,
    400: #4d9ebf,
    500: #0096d6,
    600: #007aae,
    700: #005f87,
    800: #00445f,
    900: #002938
  ),
  gray: (
    100: #f8f8f8,
    200: #e5e5e5,
    300: #d4d4d4,
    400: #c0c0c0,
    500: #a9a9a9,
    600: #888888,
    700: #666666,
    800: #444444,
    900: #222222
  ),
  green: (
    100: #ebf5eb,
    200: #c2e0c2,
    300: #99cc99,
    400: #70b770,
    500: #4caf50,
    600: #3d8c40,
    700: #2e6930,
    800: #1f4620,
    900: #102310
  ),
  red: (
    100: #fdeae9,
    200: #f9c0bc,
    300: #f5968f,
    400: #f16c62,
    500: #f44336,
    600: #c3362b,
    700: #922920,
    800: #621b15,
    900: #310e0a
  ),
  yellow: (
    100: #fff6e5,
    200: #ffe4b3,
    300: #ffd280,
    400: #ffc14d,
    500: #ffc107,
    600: #cc9a06,
    700: #997404,
    800: #664d03,
    900: #332701
  )
);
