@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

$font-family-base: 'Inter', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
