@use 'sass:map';

@use 'functions' as *;

/**
 * Colors
 */
$grays: (
  100: #f8f9fa,
  200: #e9ecef,
  300: #dee2e6,
  400: #ced4da,
  500: #adb5bd,
  600: #6c757d,
  700: #495057,
  800: #343a40,
  900: #212529
);

$colors: (
  'black': #000000,
  'blue': #0d6efd,
  'cyan': #0dcaf0,
  'gray': map.get($grays, 600),
  'gray-dark': map.get($grays, 800),
  'green': #198754,
  'indigo': #6610f2,
  'orange': #fd7e14,
  'pink': #d63384,
  'purple': #6f42c1,
  'red': #dc3545,
  'teal': #20c997,
  'white': #ffffff,
  'yellow': #ffc107
);

$blues: (
  100: tint(map.get($colors, 'blue'), 80%),
  200: tint(map.get($colors, 'blue'), 60%),
  300: tint(map.get($colors, 'blue'), 40%),
  400: tint(map.get($colors, 'blue'), 20%),
  500: map.get($colors, 'blue'),
  600: shade(map.get($colors, 'blue'), 20%),
  700: shade(map.get($colors, 'blue'), 40%),
  800: shade(map.get($colors, 'blue'), 60%),
  900: shade(map.get($colors, 'blue'), 80%)
);

$cyans: (
  100: tint(map.get($colors, 'cyan'), 80%),
  200: tint(map.get($colors, 'cyan'), 60%),
  300: tint(map.get($colors, 'cyan'), 40%),
  400: tint(map.get($colors, 'cyan'), 20%),
  500: map.get($colors, 'cyan'),
  600: shade(map.get($colors, 'cyan'), 20%),
  700: shade(map.get($colors, 'cyan'), 40%),
  800: shade(map.get($colors, 'cyan'), 60%),
  900: shade(map.get($colors, 'cyan'), 80%)
);

$greens: (
  100: tint(map.get($colors, 'green'), 80%),
  200: tint(map.get($colors, 'green'), 60%),
  300: tint(map.get($colors, 'green'), 40%),
  400: tint(map.get($colors, 'green'), 20%),
  500: map.get($colors, 'green'),
  600: shade(map.get($colors, 'green'), 20%),
  700: shade(map.get($colors, 'green'), 40%),
  800: shade(map.get($colors, 'green'), 60%),
  900: shade(map.get($colors, 'green'), 80%)
);

$indigos: (
  100: tint(map.get($colors, 'indigo'), 80%),
  200: tint(map.get($colors, 'indigo'), 60%),
  300: tint(map.get($colors, 'indigo'), 40%),
  400: tint(map.get($colors, 'indigo'), 20%),
  500: map.get($colors, 'indigo'),
  600: shade(map.get($colors, 'indigo'), 20%),
  700: shade(map.get($colors, 'indigo'), 40%),
  800: shade(map.get($colors, 'indigo'), 60%),
  900: shade(map.get($colors, 'indigo'), 80%)
);

$oranges: (
  100: tint(map.get($colors, 'orange'), 80%),
  200: tint(map.get($colors, 'orange'), 60%),
  300: tint(map.get($colors, 'orange'), 40%),
  400: tint(map.get($colors, 'orange'), 20%),
  500: map.get($colors, 'orange'),
  600: shade(map.get($colors, 'orange'), 20%),
  700: shade(map.get($colors, 'orange'), 40%),
  800: shade(map.get($colors, 'orange'), 60%),
  900: shade(map.get($colors, 'orange'), 80%)
);

$pinks: (
  100: tint(map.get($colors, 'pink'), 80%),
  200: tint(map.get($colors, 'pink'), 60%),
  300: tint(map.get($colors, 'pink'), 40%),
  400: tint(map.get($colors, 'pink'), 20%),
  500: map.get($colors, 'pink'),
  600: shade(map.get($colors, 'pink'), 20%),
  700: shade(map.get($colors, 'pink'), 40%),
  800: shade(map.get($colors, 'pink'), 60%),
  900: shade(map.get($colors, 'pink'), 80%)
);

$purples: (
  100: tint(map.get($colors, 'purple'), 80%),
  200: tint(map.get($colors, 'purple'), 60%),
  300: tint(map.get($colors, 'purple'), 40%),
  400: tint(map.get($colors, 'purple'), 20%),
  500: map.get($colors, 'purple'),
  600: shade(map.get($colors, 'purple'), 20%),
  700: shade(map.get($colors, 'purple'), 40%),
  800: shade(map.get($colors, 'purple'), 60%),
  900: shade(map.get($colors, 'purple'), 80%)
);

$reds: (
  100: tint(map.get($colors, 'red'), 80%),
  200: tint(map.get($colors, 'red'), 60%),
  300: tint(map.get($colors, 'red'), 40%),
  400: tint(map.get($colors, 'red'), 20%),
  500: map.get($colors, 'red'),
  600: shade(map.get($colors, 'red'), 20%),
  700: shade(map.get($colors, 'red'), 40%),
  800: shade(map.get($colors, 'red'), 60%),
  900: shade(map.get($colors, 'red'), 80%)
);

$teals: (
  100: tint(map.get($colors, 'teal'), 80%),
  200: tint(map.get($colors, 'teal'), 60%),
  300: tint(map.get($colors, 'teal'), 40%),
  400: tint(map.get($colors, 'teal'), 20%),
  500: map.get($colors, 'teal'),
  600: shade(map.get($colors, 'teal'), 20%),
  700: shade(map.get($colors, 'teal'), 40%),
  800: shade(map.get($colors, 'teal'), 60%),
  900: shade(map.get($colors, 'teal'), 80%)
);

$yellows: (
  100: tint(map.get($colors, 'yellow'), 80%),
  200: tint(map.get($colors, 'yellow'), 60%),
  300: tint(map.get($colors, 'yellow'), 40%),
  400: tint(map.get($colors, 'yellow'), 20%),
  500: map.get($colors, 'yellow'),
  600: shade(map.get($colors, 'yellow'), 20%),
  700: shade(map.get($colors, 'yellow'), 40%),
  800: shade(map.get($colors, 'yellow'), 60%),
  900: shade(map.get($colors, 'yellow'), 80%)
);

/**
 * Palette
 */
$palette: (
  'danger': map.get($colors, 'red'),
  'dark': #091227,
  'dark-muted': #2a2e3b,
  'dark-surface': #222834,
  'info': map.get($colors, 'cyan'),
  'light': map.get($grays, 100),
  'light-gray-blue': #eff2f6,
  'muted': #9fa6bc,
  'primary': #002463,
  'secondary': #196596,
  'success': map.get($colors, 'green'),
  'warning': map.get($colors, 'yellow')
);
