@use 'variables' as *;
@use 'fonts' as *;
@use 'theme' as *;
@import 'bootstrap/scss/bootstrap';

:root {
  /**
   * Colors.
   */
  @each $key, $value in $colors {
    --kauf-#{$key}: #{$value};
  }

  @each $key, $value in $grays {
    --kauf-gray-#{$key}: #{$value};
  }

  /**
   * Palette.
   */
  @each $key, $value in $palette {
    --kauf-#{$key}: #{$value};
  }

  /**
   * Utility Colors.
   */
  --kauf-border-color: var(--kauf-gray-300);
  --kauf-text-color: var(--kauf-dark-muted);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--kauf-gray-400);
  border-radius: 0.25rem;
}
