<aside [class.sidebar--collapsed]="sidebarCollapsed" class="sidebar">
  <nav class="sidebar__navigation">
    <ul class="sidebar__menu">
      @for (item of navigationItems; track $index) {
        <li class="sidebar__menu-item">
          <a
            (click)="sidebarCollapsed ? handleCloseSidebar() : null"
            [class.sidebar__menu-link--active]="isRouteActive(item.namePath, item.path)"
            [routerLink]="item.path"
            class="sidebar__menu-link"
          >
            <ng-icon [svg]="item.icon" />

            <span class="sidebar__menu-label">
              {{ item.label }}
            </span>
          </a>
        </li>
      } @empty {
        <li class="sidebar__menu-item sidebar__menu-item--empty">
          <span class="sidebar__menu-empty-label">Menu</span>
        </li>
      }
    </ul>
  </nav>
</aside>
